* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat";
}

body header {
  background-image: url("../img/1.jpeg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

body header h1 {
  margin: 0;
  padding: 6% 0 2%;
  font-size: 60px;
  text-align: center;
}

body header h1 span {
  color: #ca2b2b;
}

body header nav {
  top: 50px;
  text-align: center;
}

body header nav a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  padding: 1%;
}

body header nav a:hover {
  color: #ca2b2b;
}

body main {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section {
  padding: 0 5%;
  margin: 50px 0;
}

body main > section h2 {
  color: black;
  text-align: center;
  font-size: 40px;
  margin: 20px;
}

body main > section.bio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

body main > section.bio img {
  width: 100%;
}

body main > section.bio > div p {
  margin: 5%;
}

body main > section.bio > div > div {
  text-align: center;
}

body main > section.bio > div > div button {
  background-color: #ca2b2b;
  padding: 16px 20px;
  border: 0;
  outline: 0;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

body main > section.photos > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main > section.photos > div > div {
  border: 10px solid black;
  background-color: rgba(0, 0, 0, 0.507);
  overflow: hidden;
  min-width: 200px;
  width: 80%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 700px) and (max-width: 1350px) {
  body main > section.photos > div > div {
    width: 40%;
  }
}

@media (min-width: 1350px) {
  body main > section.photos > div > div {
    width: 30%;
  }
}

body main > section.photos > div > div img {
  width: 100%;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

body main > section.photos > div > div img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

body main > section.events > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
}

@media (max-width: 400px) {
  body main > section.events > div {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

body main > section.events > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section.events > div > div img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

body main > section.events > div > div > div {
  width: 100%;
  background-color: black;
  border-radius: 0px 0px 10px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  text-align: center;
  padding: 3%;
}

body main > section.events > div > div > div .date {
  font-size: 20px;
  font-weight: bold;
  border-right: 1px solid white;
  color: white;
  text-align: center;
}

body main > section.events > div > div > div .date span {
  font-size: 33px;
}

body main > section.events > div > div > div > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main > section.events > div > div > div > div p:first-child {
  color: white;
  margin-bottom: 4%;
}

body main > section.events > div > div > div > div p:first-child i {
  padding-right: 20px;
}

body main > section.events > div > div > div > div p:nth-child(2) {
  font-size: 12px;
  color: white;
}

body main > section.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
}

@media (max-width: 400px) {
  body main > section.contact {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

body main > section.contact img {
  width: 100%;
}

body main > section.contact form input, body main > section.contact form textarea {
  width: 100%;
  max-height: 70px;
  min-width: 100%;
  max-width: 100%;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 3%;
}

body main > section.contact form label {
  color: #ca2b2b;
  font-size: 20px;
}

body main > section.contact form div {
  text-align: center;
}

body main > section.contact form div button {
  background-color: #ca2b2b;
  padding: 16px 20px;
  border: 0;
  outline: 0;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

body footer {
  height: 30vh;
  background-color: #ca2b2b;
  text-align: center;
}

body footer p:first-child {
  font-size: 30px;
  color: white;
  padding: 2% 0;
}

body footer p:nth-child(2) {
  color: white;
  padding: 0 0 2%;
}

body footer .icons i {
  color: white;
  font-size: 24px;
  padding: 0 10px;
}
/*# sourceMappingURL=styles.css.map */