* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

body .top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  padding: 1rem 2rem;
  background-color: #f0efef;
  -webkit-box-shadow: 1px 1px 5px rgba(124, 124, 124, 0.692);
          box-shadow: 1px 1px 5px rgba(124, 124, 124, 0.692);
}

body .top_nav .index_title {
  font-size: 2rem;
  font-weight: 600;
}

body .top_nav .index_title span {
  color: red;
}

body .top_nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

body .top_nav a:hover {
  color: blue;
}

body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

body .main .left_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 220px;
  border-right: 3px solid rgba(194, 194, 194, 0.336);
  background-color: rgba(247, 176, 176, 0.411);
}

body .main .left_menu a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 1.5rem 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 2px solid rgba(194, 194, 194, 0.336);
}

body .main .left_menu a:hover {
  background-color: red;
  color: white;
}

body .main .right {
  padding: 2rem;
  width: 100%;
}

body .main .right .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 15px;
}

body .main .right .bio > form {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  border: 2px dotted red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .right .bio > form > h2 {
  margin: 20px;
}

body .main .right .bio > form > div {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
}

body .main .right .bio > form > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

body .main .right .bio > form > div > div > textarea {
  width: 100%;
  height: 50px;
}

body .main .right .bio > form > button {
  width: 150px;
  border: none;
  outline: none;
  margin: 30px 0;
  padding: 5px 0;
}

body .main .right .bio > form > button:hover {
  background-color: rgba(0, 0, 0, 0.61);
}

body .main .right .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  padding: 15px;
  height: 100%;
}

body .main .right .photo > form {
  margin: auto;
  width: 90%;
  min-width: 200px;
  max-width: 800px;
  border: 2px dotted red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .right .photo > form > h2 {
  margin: 20px;
}

body .main .right .photo > form > div:nth-child(2) {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 30px 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
}

body .main .right .photo > form > div:nth-child(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

body .main .right .photo > form > div:nth-child(2) > div img {
  width: 80%;
  margin: 10px 0;
}

body .main .right .photo > form > div:last-child {
  margin: 30px 0;
  width: 80%;
  text-align: center;
}

body .main .right .photo > form > div:last-child input {
  margin: 20px 0;
}

body .main .right .photo > form > div:last-child button {
  padding: 7px 15px;
  width: 150px;
  border: none;
  outline: none;
  margin: 10px;
}

body .main .right .photo > form > div:last-child button:hover {
  background-color: rgba(0, 0, 0, 0.61);
}

body .main .right .photo > form > div:last-child button:last-child {
  background-color: rgba(255, 0, 0, 0.616);
}

body .main .right .photo > form > div:last-child button:last-child:hover {
  background-color: red;
}

body.event {
  min-height: 100vh;
}

body.event div.title {
  font-size: 2.5rem;
  font-weight: 600;
}

body.event table,
body.event tr,
body.event th,
body.event td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 0.4rem 1rem;
  margin: 1rem 0;
}

body.event table {
  width: 800px;
}

body.event th {
  background-color: rgba(255, 0, 0, 0.205);
}

body.event #newEvent {
  padding: 0.5rem 1rem;
}

body.event #newEvent:hover {
  cursor: pointer;
}

body.event a#btn {
  margin-left: 3rem;
  position: relative;
  bottom: 0.5rem;
  background-color: #e7e7e7;
  text-decoration: none;
  font-size: 13px;
  color: black;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 5px;
}

body.event a#btn:hover {
  cursor: pointer;
  background-color: #dad8d8;
}

body.event form {
  border: 1px solid gray;
  border-radius: 10px;
  width: 800px;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

body.event form h1 {
  font-size: 1.8rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

body.event form label {
  display: inline-block;
  width: 100px;
}

body.event form input {
  margin-bottom: 1rem;
  height: 1.7rem;
  width: 200px;
}

body.event form button {
  margin-bottom: 0.5rem;
  background-color: #e7e7e7;
  text-decoration: none;
  font-size: 13px;
  color: black;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 5px;
}

body.event form button:hover {
  cursor: pointer;
  background-color: #dad8d8;
}
/*# sourceMappingURL=indexStyle.css.map */