* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

body .top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  padding: 1rem 2rem;
  background-color: #f0efef;
  -webkit-box-shadow: 1px 1px 5px rgba(124, 124, 124, 0.692);
          box-shadow: 1px 1px 5px rgba(124, 124, 124, 0.692);
}

body .top_nav .index_title {
  font-size: 2rem;
  font-weight: 600;
}

body .top_nav .index_title span {
  color: red;
}

body .top_nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

body .top_nav a:hover {
  color: blue;
}

body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

body .main .left_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 220px;
  border-right: 3px solid rgba(194, 194, 194, 0.336);
  background-color: rgba(247, 176, 176, 0.411);
}

body .main .left_menu a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 1.5rem 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 2px solid rgba(194, 194, 194, 0.336);
}

body .main .left_menu a:hover {
  background-color: red;
  color: white;
}

body .main .right {
  padding: 2rem;
}

body.event {
  min-height: 100vh;
}

body.event div.title {
  font-size: 2.5rem;
  font-weight: 600;
}

body.event table,
body.event tr,
body.event th,
body.event td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 0.4rem 1rem;
  margin: 1rem 0;
}

body.event table {
  width: 800px;
}

body.event th {
  background-color: rgba(255, 0, 0, 0.205);
}

body.event #newEvent {
  padding: 0.5rem 1rem;
}

body.event #newEvent:hover {
  cursor: pointer;
}

body.event a#btn {
  margin-left: 3rem;
  position: relative;
  bottom: 0.5rem;
  background-color: #e7e7e7;
  text-decoration: none;
  font-size: 13px;
  color: black;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 5px;
}

body.event a#btn:hover {
  cursor: pointer;
  background-color: #dad8d8;
}

body.event form {
  border: 1px solid gray;
  border-radius: 10px;
  width: 800px;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

body.event form h1 {
  font-size: 1.8rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

body.event form label {
  display: inline-block;
  width: 100px;
}

body.event form input {
  margin-bottom: 1rem;
  height: 1.7rem;
  width: 200px;
}

body.event form button {
  margin-bottom: 0.5rem;
  background-color: #e7e7e7;
  text-decoration: none;
  font-size: 13px;
  color: black;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 5px;
}

body.event form button:hover {
  cursor: pointer;
  background-color: #dad8d8;
}
/*# sourceMappingURL=indexStyle.css.map */