* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
    height: 100vh;
}
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;

  .top_nav {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 1rem 2rem;
    background-color: rgb(240, 239, 239);
    box-shadow: 1px 1px 5px rgba(124, 124, 124, 0.692);
    .index_title {
      font-size: 2rem;
      font-weight: 600;
      span {
        color: red;
      }
    }
    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      &:hover {
        color: blue;
      }
    }
  }

  .main {
    display: flex;
    min-height: 100vh;
    .left_menu {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      width: 220px;
      border-right: 3px solid rgba(194, 194, 194, 0.336);
      background-color: rgba(247, 176, 176, 0.411);
      a {
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        padding: 1.5rem 0;
        transition: 0.4s;
        border-bottom: 2px solid rgba(194, 194, 194, 0.336);
        &:hover {
          background-color: red;
          color: white;
        }
      }
    }
    .right {
      padding: 2rem;
    }
  }
}

//pages style
body.event {
    min-height: 100vh;

    div.title {
    font-size: 2.5rem;
    font-weight: 600;
  }
  table,
  tr,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 0.4rem 1rem;
    margin: 1rem 0;
  }
  table {
    width: 800px;
  }
  th {
    background-color: rgba(255, 0, 0, 0.205);
  }
  #newEvent {
    padding: 0.5rem 1rem;

    &:hover {
      cursor: pointer;
    }
  }
  a#btn {
    margin-left: 3rem;
    position: relative;
    bottom: 0.5rem;
    background-color: #e7e7e7;
    text-decoration: none;
    font-size: 13px;
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: #dad8d8;
    }
  }
  form {
    border: 1px solid gray;
    border-radius: 10px;
    width: 800px;
    padding: 1rem 2rem;
    margin-top: 1rem;
    h1 {
      font-size: 1.8rem;
      padding-top: 0.5rem;
      padding-bottom: 1.5rem;
    }
    label {
      display: inline-block;
      width: 100px;
    }
    input {
      margin-bottom: 1rem;
      height: 1.7rem;
      width: 200px;
    }
    button {
        margin-bottom: 0.5rem;
      background-color: #e7e7e7;
      text-decoration: none;
      font-size: 13px;
      color: black;
      padding: 0.5rem 1rem;
      border: 1px solid rgba(0, 0, 0, 0.274);
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        background-color: #dad8d8;
      }
    }
  }
}
